In [3]:
# Problem1:
# 2y = 40 -> [2, 40]
# y = 40/2 -> [20]

def solve1(arr):
    # TODO:
    returns [x]

# Input: [3, 15]
# Expected: [5]

In [4]:
(78 - 5*2)/2

34.0

In [6]:
(30 - (5*1 - 10*2))/3

15.0

```
# Problem 2

#2x + 5y = 78, y=2
#x = (78 - 5*2)/2

def solve_substitute(eqn, prev_ans):
    return []

#Example 1:
solve_substitute([2, 5, 78], [2])
expected_answer: [34, 2]

#Example 2:
# 3x + 5y - 10z = 30
# y, z = [1, 2]
# 3*x + 5*1 - 10*2 = 30
# x = (30 - (5*1 - 10*2))/3

solve_substitute([3, 5, -10, 30], [1, 2]), 
Expected_answer: [15, 1, 2]

```

```
# Problem 3
A. 2x + 3y = 10
B. 4x - 5y = 50
---

Multiplier = 4/2
C. B - 2*A
C. -11y = 30

def reduce(arr):
    return arr

input = [[2, 3, 10],
    [4, -5, 50]]
result = reduce(input)
result = [-11, 30]

result = reduce([
    [1, 2, 3, 4], #x + 2y + 3z = 4
    [2, 2, 4, 10],
    [3, 4, 2, 30],
])
result: [
    [ -2, -2, 2], #eqn2 - 2*eqn1
    [-2, -7, 18],  #eqn3 - 2*eqn1
]
```

In [20]:
x = "This is line"

In [21]:
print(x)

This is line

In [24]:
x[1:]

'his is line'

In [25]:
x[2:4]

'is'

In [26]:
x[:5]

'This '

In [27]:
ord(x[0])

84

In [28]:
chr(84)

'T'

In [29]:
ord('A'), ord('a')

(65, 97)

In [33]:
chr(180)

'´'

In [34]:
hindi_characters = ['नमस्ते', 'कैसे हैं', 'धन्यवाद']

In [36]:
nam = hindi_characters[0]

In [39]:
ord(nam[0])

2344

In [40]:
chr(2344)

'न'

In [49]:
sentence = 'नमस्ते कैसे हैं धन्यवाद'

In [46]:
kaise = hindi_characters[1]
kaise

'कैसे हैं'

In [51]:
for i in range(len(sentence)):
    ch = sentence[i]
    print(i, ch, ord(ch))

0 न 2344
1 म 2350
2 स 2360
3 ् 2381
4 त 2340
5 े 2375
6   32
7 क 2325
8 ै 2376
9 स 2360
10 े 2375
11   32
12 ह 2361
13 ै 2376
14 ं 2306
15   32
16 ध 2343
17 न 2344
18 ् 2381
19 य 2351
20 व 2357
21 ा 2366
22 द 2342

In [57]:
sentence[:-4]

'नमस्ते कैसे हैं धन्'

In [58]:
sentence[:-5]

'नमस्ते कैसे हैं धन'

In [59]:
p = '''
this is a paragraph
this is another
'''

In [60]:
p

'\nthis is a paragraph\nthis is another\n'

In [62]:
"this 'isa single quote"

"this 'isa single quote"

In [64]:
'this " is a double quote'

'this " is a double quote'

In [66]:
print("\"")

"

In [67]:
print("\\")

\

In [68]:
int('123')

123

In [95]:
num = "123"
result = 0
for c in num:
    n = ord(c) - ord('0')
    result = result*10 + n
    print(result)

1
12
123

In [96]:
num = "१३७"
result = 0
for c in num:
    n = ord(c) - ord('०')
    result = result*10 + n
    print(result)

1
13
137

In [100]:
# Code convert to number a decimal numbers
# Problem 4: 
num = "१३७.७"
def convert(num):
    # print(137.7)
    pass

In [73]:
ord('1'), ord('0')

(49, 48)

In [72]:
ord('1')-ord('0')

1

In [74]:
ord('2')-ord('0')

2

In [75]:
ord('9')-ord('0')

9

In [86]:
chr(+0976)

SyntaxError: invalid token (<ipython-input-86-8a314188c408>, line 1)

In [94]:
chr(0x0967)

'१'

In [92]:
for i in range(200):
    print(2406+i, chr(2406+i))

2406 ०
2407 १
2408 २
2409 ३
2410 ४
2411 ५
2412 ६
2413 ७
2414 ८
2415 ९
2416 ॰
2417 ॱ
2418 ॲ
2419 ॳ
2420 ॴ
2421 ॵ
2422 ॶ
2423 ॷ
2424 ॸ
2425 ॹ
2426 ॺ
2427 ॻ
2428 ॼ
2429 ॽ
2430 ॾ
2431 ॿ
2432 ঀ
2433 ঁ
2434 ং
2435 ঃ
2436 ঄
2437 অ
2438 আ
2439 ই
2440 ঈ
2441 উ
2442 ঊ
2443 ঋ
2444 ঌ
2445 ঍
2446 ঎
2447 এ
2448 ঐ
2449 ঑
2450 ঒
2451 ও
2452 ঔ
2453 ক
2454 খ
2455 গ
2456 ঘ
2457 ঙ
2458 চ
2459 ছ
2460 জ
2461 ঝ
2462 ঞ
2463 ট
2464 ঠ
2465 ড
2466 ঢ
2467 ণ
2468 ত
2469 থ
2470 দ
2471 ধ
2472 ন
2473 ঩
2474 প
2475 ফ
2476 ব
2477 ভ
2478 ম
2479 য
2480 র
2481 ঱
2482 ল
2483 ঳
2484 ঴
2485 ঵
2486 শ
2487 ষ
2488 স
2489 হ
2490 ঺
2491 ঻
2492 ়
2493 ঽ
2494 া
2495 ি
2496 ী
2497 ু
2498 ূ
2499 ৃ
2500 ৄ
2501 ৅
2502 ৆
2503 ে
2504 ৈ
2505 ৉
2506 ৊
2507 ো
2508 ৌ
2509 ্
2510 ৎ
2511 ৏
2512 ৐
2513 ৑
2514 ৒
2515 ৓
2516 ৔
2517 ৕
2518 ৖
2519 ৗ
2520 ৘
2521 ৙
2522 ৚
2523 ৛
2524 ড়
2525 ঢ়
2526 ৞
2527 য়
2528 ৠ
2529 ৡ
2530 ৢ
2531 ৣ
2532 ৤
2533 ৥
2534 ০
2535 ১
2536 ২
2537 ৩
2538 ৪
2539 ৫
2540 ৬
2541 ৭
2542 ৮
2543 ৯
2544 ৰ
2545 ৱ
2546 ৲
2547 ৳
2548 ৴
2549 ৵
2550 ৶
2551 ৷
2552 ৸
2553 ৹
2554 ৺
2555 ৻
2556 ৼ
2557 ৽
2558 ৾
2559 ৿
2560 ਀
2561 ਁ
2562 ਂ
2563 ਃ
2564 ਄
2565 ਅ
2566 ਆ
2567 ਇ
2568 ਈ
2569 ਉ
2570 ਊ
2571 ਋
2572 ਌
2573 ਍
2574 ਎
2575 ਏ
2576 ਐ
2577 ਑
2578 ਒
2579 ਓ
2580 ਔ
2581 ਕ
2582 ਖ
2583 ਗ
2584 ਘ
2585 ਙ
2586 ਚ
2587 ਛ
2588 ਜ
2589 ਝ
2590 ਞ
2591 ਟ
2592 ਠ
2593 ਡ
2594 ਢ
2595 ਣ
2596 ਤ
2597 ਥ
2598 ਦ
2599 ਧ
2600 ਨ
2601 ਩
2602 ਪ
2603 ਫ
2604 ਬ
2605 ਭ